//$color-primary:#55c57a;
//$color-primary:#00ff72;
$color-primary:#200a3d;
//@warn$color-Light:#7ed556;
$color-Light:#790f83;
//$color-dark:#28b485;
$color-dark:#ffffff;
$clor-Wight:#fff;
$color-grawy:rgb(78, 77, 77);
$color-black:#000;
$color-gery:#f7f7f7;
$color-blue:#098fef;
//$color-first:#ff00bf;
$color-first:#ffffff;
$color-first-light:#99016be7;
//$color-secende-light:#2998ff;
$color-secende-light:#75aa43;
//$color-secende:#5643fa;
$color-secende:#ffffff;


//gridle 

$grid-width: 114rem;
$gutter-virtecal: 8rem;
$gutter-horizontal:6rem;


footer{

    
    padding: 30rem 0;
    background-color:$color-black;

}

