.feature-box {



    background-color: rgba($clor-Wight, $alpha: .8);
    font-size: 19px ;
    padding: 20px ;
    text-align: center;
    border-radius: 4x;
    box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: .7) ;
    transition: all .3s;
   


    &_icon {

        font-size:6rem;
        margin-bottom: 4px ;
        background-image:linear-gradient( to right , $color-dark , $color-Light);
        display: inline-block; 
        -webkit-background-clip:text;
        color:transparent;




    }
    &_text {




    }

    &:hover{


        transform: translateY(-16px) scale(1.03)

    }
}