.center-text {

text-align:center;



}

.margin-bottom {



    margin-bottom: 6rem;
}
.margin-bottom-small {




    margin-bottom: 1.2rem;
}
.margin-top {


    margin-top: 4rem;
}

.margin-right{

    margin-right:100px;
}
.color-f {


 //background-color: $color-Light-!important;
 background-image: linear-gradient(to right ,$color-Light , rgb(121, 220, 238)) ;
}